<?xml version="1.0"?>
<model>
  <name>apriltag_36h11_1</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>Mars Drone Development</name>
  </author>
  <description>
    AprilTag (36h11, id=1) as a textured plane for detection.
    Place the texture image at materials/textures/tag36h11_1.png
  </description>
</model>
